.wrapper {
  background: url(img/k6.jpg) no-repeat center center;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  color: white;
}

.qw {
  display: flex;
  text-align: center;
  min-height: 50px;
  width: 50px;
}
.hero {
  margin-top: 150px;
}
