body {
  margin: 0;
  padding: 0;
}
.wrapper {
  min-height: 100vh;
  background: url(img/k9.jpg) no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  color: white;
  width: 450px;
  background: rgba(143, 134, 134, 0.5);
  padding: 10px 20px;
  border-radius: 20px;
  text-align: center;
}
